body {
    font-family: Arial;
    background: #e9ffe9;
    margin: 0;
    padding: 0;
}

/* LOGIN BOX */
.login-container {
    width: 300px;
    margin: 120px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px green;
    text-align: center;
}

.login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid green;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}

/* DASHBOARD */
.navbar {
    background: green;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.dashboard-container {
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border-left: 6px solid green;
    margin: 20px auto;
    width: 70%;
}
